:root {
  /* fonts */
  --font-main: 'Montserrat', sans-serif;
  --font-second: 'Acrom', sans-serif;
  --font-color-main: 16px;

  /* footer background-color */
  --footer-bg: #a14f4f;
  --header-bg: #102136;
}
